
.todo-element{
    display: flex;
    align-items: center;
    height: 45px;
    .reCool{
        background: none;
        border: none;
        border-bottom: 2px solid gray;
        width: 100%;
        height: inherit;
        font-size: 120%;
        line-height: 45px;
    }
    .reCool:focus{
        outline: none;
    }
    i{
        margin-right: 10px;
        font-size: 120%;
        cursor: pointer;
    }
    .tachado{
        text-decoration: line-through;
    }
}