
<div id="notebook">
    <div id="title">{{title}}</div>
  <div class="postits-box">
      <div class="postit postit-blue">TODO List</div>
      <div class="postit postit-green">Calendar</div>
      <div class="postit postit-yellow">Notes</div>
      <div class="postit postit-red">Debts</div>
      <div class="postit postit-pink">Contacts</div>
  </div>
  <div class="pages">
    <todo-list></todo-list>
  </div>
</div>